.player {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  background-color: var(--color-grey);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  & img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 0.3rem;
  }
}